output/
output*/
out*/
.DS_Store
.vscode/
*.npz
__pycache__/
*.mp4
video/
*.ply
tmp/
!geom_*.vtk

playground/*
!playground/*.ipynb

demos/*
!demos/*.sh
!demos/*.py
demos_nas

.venv/
.venv311/
SIGREVISE
tmp*
autoresearch*
.zsh*
demos2
surface.vtk
.quota_test.txt
test.png

backup